

/* Estilos da página index.html*/
.center {
    text-align: center;
}
.justify {
    text-align: justify;
}
.container {
    display: flex;
    flex-grow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 15px;
    
}
#menu li a{
    text-decoration: none;
    color: blueviolet;
    font-size: 20px;

}
#menu li a:hover{
    background-color: blueviolet;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
    
}
.wh-fp {
    width: 250px;
    height: 250px;
}
.tm-social {
    width: 40px;
    height: 40px;
    padding: 10px;
}
.mb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* Estilos da página contato.html*/
.ml-50 {
    margin-left: 50px;
}
